body{
    padding: 0px 100px;
}
.directoryPath::before{
    content: '目录结构：';
}
ul.directoryBox{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
ul.directoryBox li{
    display: inline-block;
    width: 33%;
    cursor: pointer;
}
ul.directoryBox li a{
    font-size: 16px;
    padding: 10px 5px;
    display: block;
}
ul.directoryBox li a[isDirectory='true']::after{
    content: '（文件夹）';
}